<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Survery Form</title>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>​
	<script type ="text/javascript" src="/socket.io/socket.io.js"></script>​
	<script type="text/javascript">
		$(document).ready(function(){
			// triggers the connection event in our server
			var socket = io.connect();
			// submit data to the server using emit
			$('#survey_form').submit(function(e){
				e.preventDefault();
				socket.emit("posting_form", {
					Name: $('#name').val(),
					Dojo_Location: $('#location').val(),
					Favorite_Language: $('#language').val(),
					Comment: $('#comment').val()
				});
			});
			// display the emit response of the server called "updated_message" and "random_number"
			socket.on('updated_message', function(data){
				$('#message').html("<div class='alert alert-success' role='alert'>"+"You emitted the following information to the server: " + JSON.stringify(data.response) + "</div>");
			});
			socket.on('random_number', function(data){
				$('#number').html("<div class='alert alert-info' role='alert'>"+"Your lucky number emitted by the server is: " + JSON.stringify(data.response) + "</div>");
			});
		});
	</script>
</head>
<body>
<div class="container">
	<h1>Survey Form</h1>
	<div id="message"></div>
	<div id="number"></div>
	<form action="" id="survey_form" class="form-horizontal">
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">Your Name: </label>
			<div class="col-sm-8">
				<input type="text" name="name" id="name" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label for="location" class="col-sm-2 control-label">Dojo Location:</label>
			<div class="col-sm-8">
				<select name="dojo_location" id="location" class="form-control">
					<option value="" disabled selected style="display:none;"></option>
					<option value="Mountain View">Mountain View</option>
					<option value="Bellevue, WA">Bellevue, WA</option>
					<option value="Los Angeles, CA">Los Angeles, CA</option>
					<option value="Online">Online</option>
				</select>				
			</div>
		</div>
		<div class="form-group">
			<label for="favorite language" class="col-sm-2 control-label">Favorite Language:</label>
			<div class="col-sm-8">
				<select name="favorite_language" id="language" class="form-control">
					<option value="" disabled selected style="display:none;"></option>
					<option value="NodeJs">NodeJs</option>
					<option value="PHP">PHP</option>
					<option value="HTML/CSS">HTML/CSS</option>
					<option value="Javascript">Javascript</option>
				</select>				
			</div>
		</div>
		<div class="form-group">
			<label for="comment" class="col-sm-2 control-label">Comment (optional):</label>
			<div class="col-sm-8">
				<textarea name="comment" id="comment" class="form-control" rows="3"></textarea>
			</div>
		</div>
		<div class="col-sm-10">
			<input type="submit" value="Submit" class="btn btn-success pull-right">
		</div>
	</form>
</div>
</body>
</html>